.flowers {
    background-image: url('../images/bg-full-01.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: scroll;
    background-size: cover;
}

@media screen and (max-width: 360px){
    .flowers {
        background-image: url('../images/bg-360-02.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: scroll;
        background-size: cover;
    }
}

@media screen and (max-width: 425px){
    .flowers {
        background-image: url('../images/bg-500-02.svg');
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: scroll;
        background-size: cover;
    }
}